.fade-in-appear {
    opacity: 0;
}

.fade-in-appear-active {
    transition: all 300ms ease-in;
    opacity: 1;
}

.fade-in-appear-exit {
    opacity: 1;
}

.fade-in-appear-exit-active {
    transition: all 300ms ease-in;
    opacity: 0;
}